{% extends "base.html" %}


{% block create %}

{% if not created %}
<div style="margin-top: 40px;">
    <form action="." method="POST">   
    {% csrf_token %}
    <div>
        <input name="name" type="text" placeholder="product name">
        <textarea name="description">product description</textarea>
        <input name = "price" type="text" placeholder="product price">
        <button type="submit">create product </button>
    </div>
</form>
</div>
{% else %}

<a href='products/{{ object.id }}'><h1>product {{ object.name }} is created successfully.</h1></a>

{% endif %}

{% endblock create %}